/* Shift custom styles */
.pass-banner{background:#1cbdc8 url(/images/triangles.png) no-repeat left top;background-size:cover;}
.pass-window-icon{background-color:#152836}

#header{background-color:#2d556f}
#header .btn.btn-blue, #header .btn.btn-blue-nav {background-color: #1cbdc8!important}
#header #balance {background-color: rgba(0,0,0,.12)}
.account-block, #menu li.active{background-color:transparent}
#sidebar-wrapper{background-color:#1d262d}
.panel.widget.widget-brown{color:#2d556f;border-top:4px solid #1cbdc8}
.nav-underline>li.active a {border-bottom-color: #1cbdc8}

.panel-default table td a {color:#178d97}
.panel-default table td a:hover, .panel-default table td a:active {color:#1cbdc8}
[type=checkbox].filled-in.violet:checked+label:after {
    border: 2px solid #1cbdc8;
    background-color: #1cbdc8;
}

/* Fix forge stats floating */
.info-panel-grey {overflow:hidden;}
.info-panel .title, .info-panel.info-panel-grey .title {opacity:1;font-size:1em;}
.info-panel-grey .plain-text {width:50%;white-space:nowrap;}

/* IPFS section */
#ipfs-icon{background-image:url(/images/sprites/navicons.png);background-position:-22px 0}
.active #ipfs-icon{background-position:-22px -22px}

/* dApps */
.cover-image {
  background: #284b62; 
  background: linear-gradient(to bottom right, #284b62, #4a7998); 
}

/* IPFS */
#ipfs-status {
  width: 36px; height: 36px;
  background: #fff url(/images/ipfs-logo-vector-black-outline.svg) no-repeat center center;
  background-size: 22px 22px;
  border: 2px solid #aaa;
  border-radius: 50%;
}
#ipfs-status .label { 
  display: inline-block;
  top: -16px; left: 16px;
  min-width: 16px;
  min-height: 16px;
  color: #fff;
  font-size: .7em;
  padding: .4em;
  border-radius: 50%;
}
#ipfs-status.active {
  border-color: #5cb85c;
}
#ipfs-status.inactive {
  border-color: #d9534f;
}
#ipfs-status.inactive .label {
	display: none;
}